.exhibitcontent

  .exhibitcontent__header

  .main
    %section.main__box
      %h2.main__box__upper 会員登録完了
      .main__box__form
        .main__box__form__blank
          %p ありがとうございます。
          %p 会員登録が完了しました。
          %button.main__box__form__blank__btn
            メルカリを始める



  .exhibitcontent_banner
    = render "products/banner"
  .exhibitcontent_down
    = render 'products/show_footer'