.exhibitcontent
  .exhibitcontent__header
    .exhibitcontent__header--logo
      = link_to image_tag('fmarket_logo_red.svg',size:"185x49",class:"exhibitcontent_logo__image"), '#'
    
  .exhibitcontent_main
  .exhibitcontent_down
    = render 'products/show_footer'