.banner{
  background-color: coral;
  display: flex;
  justify-content: center;
  &__left{
    margin-right: 40px;
    &--title{
      font-size: 24px;
      font-weight: 600;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: #ffffff;
      margin-top: 40px;
      margin-bottom: 15px;
    }
    &--download{
      font-size: 35px;
      font-weight: 400;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      color: #ffffff;
      margin-bottom: 20px;
    }
    &__logo{
      &--1{
        margin-right: 20px;
        vertical-align: middle;
      }
      &--2{
        margin-right: 8px;
        vertical-align: middle;
      }
      &--3{
        vertical-align: middle;
      }
    }
  }
}