.mheader{
  width: 100vw;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;
  position: ralative;
  z-index: 3;
  box-sizing: border-box;
  &__main{
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    &__upper{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__search{
        position: relative;
        width: 100%;
        
        &__blank{
          position: relative;
          width: 100%;
          background-color: rgb(245,245,245);
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204,204,204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 0px 0px 10px;
          transition: all 0.3s ease-out 0s;
        }
        &__button{
          position: absolute;
          right: 0;
          top: 0;  
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          width: 40px;
          border-width: initial;
          border-style: none;
          border-color: initial;
          border-image: initial;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
        }  
      }
      &__logo{
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
        &__image{
          color: inherit;
          text-decoration: none;
          height: 36px;
          width: 134px;
        }
      }
    }
    &__bottom{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      position: relative;
      margin-top: 8px;
      &__left{
        display: flex;
        margin-left: -3px;
        &__category{
          margin-right: 25px;
          position: relative;
          &:hover + .mheader__main__bottom__left__category__submenu{
            display: block;
          }
          &__inside{
            padding-bottom: 10px;
            color: red;
            display: block;
            position: relative;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
            
          }
          &__submenu{
            border-top: solid 0.5px #eeeeee;
            border-right: solid 0.5px #eeeeee;
            border-left: solid 1px #eeeeee;
            border-bottom: solid 0.5px #eeeeee;
            z-index: 1000;
            display: none;
            position: absolute;
            top: 45px;
            left: 0px;
            width: 224px;
            background-color: white;
            &:hover{
              display: block;
            }
            &__child{
              padding: 10px;
              width: 100%;
              font-size: 14px;
              text-decoration: none;
              color: black;
              padding-left: 5px;
              display: block;
              &:hover{
                width: 100%;
                padding-top: 10px;
                color: white;
                background-color: #EA352D;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__ladies{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__mens{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__baby{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__interia{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__book{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__toy{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__cos{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__appliance{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__sports{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__handmade{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__ticket{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__bike{
                display: block;
              }
              &:hover + .mheader__main__bottom__left__category__submenu__child__other{
                display: block;
              }              


          
              &__ladies{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 225px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  padding: 10px;
                  &:hover{
                    width: 100%;
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__tops{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__jacket{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__pants{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__skart{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__shoes{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__room{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__leg{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__cap{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__bag{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__accessory{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__hair{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__goods{
                    display: block;
                  }
                  &:hover + .mheader__main__bottom__left__category__submenu__child__ladies__child__watch{
                    display: block;
                  }
                  &__tops{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 223px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      padding: 10px;
                      display: block;
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-top: 10px;
                        color: white;
                        background-color:lightgray;
                      }
                    }
                  }
                  &__jacket{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 223px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      display: block;
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__pants{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: red;
                      }
                    }
                  }
                  &__skart{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                   &__onepiece{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                   }
                   &__shoes{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__room{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__leg{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__cap{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__bag{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__accessory{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__hair{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__goods{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                  &__watch{
                    border-top: solid 0.5px #eeeeee;
                    border-right: solid 0.5px #eeeeee;
                    border-left: solid 1px #eeeeee;
                    border-bottom: solid 0.5px #eeeeee;
                    background-color: white;
                    bottom: 0px;
                    display:  none;
                    position: absolute;
                    top: 0px;
                    left: 224px;
                    width: 100%;
                    &:hover{
                      display: block;
                    }
                    &__child{
                      font-size: 14px;
                      text-decoration: none;
                      color: black;
                      padding-left: 5px;
                      position: relative;
                      &:hover{
                        padding-right:70px;
                        padding-top: 10px;
                        color: white;
                        background-color: #EA352D;
                      }
                    }
                  }
                }
              
              }
              &__mens{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 100%;
                &:hover{
                  display: block;
                }
                &__child{
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  padding: 10px;
                  display: block;
                  &:hover{

                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }

              }
              &__baby{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 100%;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__interia{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color:lightgray;
                  }
                }
              }
              &__book{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__toy{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__cos{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__appliance{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__sports{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__handmade{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__ticket{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__bike{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
              &__other{
                border-top: solid 0.5px #eeeeee;
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                border-bottom: solid 0.5px #eeeeee;
                background-color: white;
                bottom: 0px;
                display:  none;
                position: absolute;
                top: -1px;
                left: 223px;
                width: 224px;
                &:hover{
                  display: block;
                }
                &__child{
                  display: block;
                  padding: 10px;
                  font-size: 14px;
                  text-decoration: none;
                  color: black;
                  padding-left: 5px;
                  position: relative;
                  &:hover{
                    
                    padding-top: 10px;
                    color: white;
                    background-color: lightgray;
                  }
                }
              }
            }
          }
        }
        &__bland{
          padding-bottom: 10px;
          &:hover + .mheader__main__bottom__left__bland__submenu{
            display: block;
          }
          position: relative;
          &__inside{
            color: red;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
          }
          &__submenu{
            border-top: solid 0.5px #eeeeee;
            border-right: solid 0.5px #eeeeee;
            border-left: solid 1px #eeeeee;
            border-bottom: solid 0.5px #eeeeee;
            display: none;
            z-index: 5;
            position: absolute;
            left: 150px;
            top: 45px;
            background-color: white;
            width: 224px;
            &:hover{
              display: block;
            }
            &__child{
              padding: 10px;
              display: block;
              font-size: 14px;
              text-decoration: none;
              color: black;
              padding-left: 5px;
              &:hover{
                padding-top: 10px;
                color: white;
                background-color: #EA352D;
              }
            }
          }
        }
      }
      &__right{
        display: flex;
        position: relative;
        &__list1{
          padding: 0 0 10px 0;
          margin-left: 24px;
          &__good{
            color: rgb(204,204,204);
            text-decoration: none;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            &:hover{
              color: #0099e8;
            }
          }
        }
        &__list2{
          padding: 0 0 10px 0px;
          margin-left: 24px;
          &__notice{
            color: rgb(204,204,204);
            text-decoration: none;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            &:hover{
              color: #0099e8;
            }
          }
        }
        &__list3{
          padding: 0 0 10px 0;
          margin-left: 24px;
          &__todo{
            color:rgb(204,204,204);
            text-decoration: none;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            &:hover{
              color: #0099e8;
            }
          }
        }
        &__list4{
          padding: 0 0 10px 0;
          margin-left: 24px;
          position: relative;
          &:hover + .mheader__main__bottom__right__list4__submenu{
            display: block;
          }
          &__person{
            color: rgb(204,204,204);
            text-decoration: none;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            &:hover{
              color: #0099e8;
            }
          }
          &__submenu{
            border-top: solid 0.5px #eeeeee;
            border-right: solid 0.5px #eeeeee;
            border-left: solid 1px #eeeeee;
            border-bottom: solid 0.5px #eeeeee;
            display: none;
            z-index: 1000;
            position: absolute;
            right: 0px;
            top: 44px;
            background-color: white;
            width: 310px;
            &:hover{
              display: block;
            }
            &__top{
              position: relative;
              &__user{
                border-right: solid 0.5px #eeeeee;
                border-left: solid 1px #eeeeee;
                width: 100%;
                height: 80px;
              }
              &__figure{
                position: absolute;
                top: 30px;
                left: 125px;
                display: inline-block;
                overflow: hidden;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                vertical-align: middle;
                width: 60px;
                height: 60px;
              }
              &__name{
                @include font14_u2;
                margin-top: 15px;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                line-height: 20px;
              }
              &__numbers{
                padding: 0 80px;
                @include font14_u2;
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
                &__number1{
                  color: black;
                  display: flex;
                  &:hover{
                    text-decoration: underline;
                  }
                  &__count{
                    color: black;
                  }
                }
                &__number2{
                  display: flex;
                  color: black;
                  &:hover{
                    text-decoration: underline;
                  }
                  &__count{
                    color: black;

                  }
                }
              }
            }
            &__middle{
              &__money{
                vertical-align: baseline;
                border-top: solid 0.5px #ddd;
                border-right: solid 0.5px #ddd;
                border-left: solid 0.5px #ddd;
                border-bottom: solid 0.5px #ddd;
                margin: 10px 10px 0px 10px;
                padding: 10px 0;
                color: black;
                background-color: #eee;
                display: flex;
                justify-content: space-between;
                &__text{
                  margin-left: 10px;
                }
                &__number{
                  margin-right: 20px;
                  &__icon{
                    @include u-icon;
                  }
                }
              }
              &__point{
                vertical-align: baseline;
                border-right: solid 0.5px #ddd;
                border-left: solid 1px #ddd;
                border-bottom: solid 0.5px #ddd;
                margin: 0px 10px 10px 10px;
                padding: 10px 0;
                color: black;
                background-color: #eee;
                display: flex;
                justify-content: space-between;
                &__text{
                  margin-left: 10px;
                }
                &__number{
                  margin-right: 20px;
                  &__icon{
                    color: #ccc;
                    font-size: 15px;
                  }
                }
              }
            }
            &__bottom{
              &__list{
                @include font14_u2;
                display: block;
                position: relative;
                border-top: solid 2px #F5F5F5;
                padding: 16px;
                &:hover{
                  background-color: #eee;
                }
                &__icon{
                  @include u-icon;
                  &:hover{
                    @include icon-hover;
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}
.fas.fa-search{
  font-size: 13px;
}
.fas.fa-list{
  margin-left: 5px;
}

.icon-text__left{
  display: inline;
  color: black;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &:hover{
    color: #0099e8;
  }
}
.icon-text__right{
  display: inline;
  color: black;
  font-weight: 400;
  &:hover{
    color: #0099e8;
  }
}