.mheader{
  &__main{
    &__bottom{
      &__right{
        &__list11{
          text-decoration: none;
          &__good1{
            background-color: #EA352D;
            color: #fff;
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: #EA352D;
            border-image: initial;
            border-radius: 4px;
            padding: 5px 10px;
          }
        }
        &__list12{
          text-align: center;
          margin-left: 11px;
          text-decoration: none;
          &__good2{
            color: rgb(0, 149, 238);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(0, 149, 238);
            border-image: initial;
            border-radius: 4px;
            padding: 5px 10px;
            transition: all 0.3s ease-out 0s;
            &:hover {
              background: #0095EE;
              color: #fff;
            }
          }
        } 
      }
    }
  }
}
