.products{
  .data1{
    width: 20%;
    height: 220px;
    margin: 0 10px 20px 10px;
    &__size{
      &__link{

        &__figure{

          &__figcaption{

          }
          &__information{

            &__label{

            }
            &__image{

            }
            &__sold{

              &__text{

              }
            }
          }
        }
      }
    }
  }
}