@mixin font14{
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
}

@mixin font14__weight400{
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
}

@mixin font12__weight400{
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
}

@mixin font12_red{
  font-size: 12px;
  font-weight: 600;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #ea352d;
}

@mixin font12_gray{
  font-size: 12px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #888888;
}

// font-sizeはtitleに合わせて指定して下さい。
@mixin font__title{
  font-weight: 700;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

// 必須
@mixin required{
  background-color:#EA342D;
  border-radius: 2px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  color:#ffffff;
  font-weight: 700;
  font-size: 11px;
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
  vertical-align: top;
}

// 任意
@mixin any{
  background-color:#ccc;
  border-radius: 2px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  color:#ffffff;
  font-weight: 400;
  font-size: 12px;
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
}

@mixin important{
  font-size: 14px;
  font-weight: 400;
  font-family:"Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
  color: #0099e8;
  text-decoration: none;
}

@mixin important_hover{
  opacity: 50%;
  border-bottom:#0099e8 solid 1px;
}

@mixin input{
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin input_focus{
  border: solid 1px #0299e8;
  outline: 0;
}

@mixin submit{
  width: 100%;
  display: block;
  line-height: 48px;
  background-color: #EA342D;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #ea352d;  
  cursor: pointer;  
}

@mixin delete{
  width: 100%;
  display: block;
  line-height: 48px;
  background-color: #AAAAAA;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #AAAAAA;  
  cursor: pointer;  
}

// marginは設定してください
@mixin btn_red {
  content: "";
  background-color:#ea352d;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
}

@mixin btn_gray{
  content: "";
  background-color:#ccc;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
}

//  轟が追加のmixin
@mixin font14_u1{
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font14_u2{
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font14_u2_color{
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin u-heading{
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
}

@mixin icon-hover{
  position: absolute;
  right: 10px;
  color: #333333;
  font-size: 25px;
  top: 30%;
}

@mixin list4-1{
  background-color: #EEEEEE;
  color: #333333;
  width : calc(100% / 4);
}

@mixin list4-2{
  background-color: #ffffff;
  color: #333333;
  width : calc(100% / 4);
}

@mixin list3{
  background-color: #EEEEEE;
  width : calc(100% / 3);
}

@mixin font14_u3{
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font16_u1{
  line-height: 72px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font16_u2{
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font16_u3{
  line-height: 48px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font16_u4{
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  
}

@mixin font16_u5{
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin font16_u6{
  line-height: 48px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin u-icon{
  position: absolute;
  right: 16px;
  color: #ccc;
  font-size: 20px;
}

@mixin font14_u4{
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

}
@mixin index_sold_badge {
  height: 60px;
  width: 60px;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  left: 0;
  top: 0;
}
@mixin index_sold_text {
  font-size: 14px;
  left: 3px;
  top: 14px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  transform: rotate(-45deg);
  z-index: 2;
}

@mixin index_sold_text_after{
  border-color: #ff0211 transparent transparent;
  border-width: 60px 60px 0 0;
  border-style: solid;
  z-index: 1;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 0px;
  left:0px;
  content: "";
}

@mixin show_sold_text {
  top: 36px;
  font-size: 28px;
  position: absolute;
  left: 0;
  z-index: 2;
  color: #fff;
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
}

@mixin show_sold_text_after {
  content: "";
  border-width: 120px 120px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

