//  赤色の出品アイコン
.icon-circle{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ea352d;
  color: #ffffff;
  text-align: center;
  z-index: 100;
  &__text{
    margin: 32px 0 0;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 22px;
  }
  &__icon{
    font-size: 63px;
  }
}