// メルペイのポイントのポイントの有効期限のscssです

.merupay1{
  &__content1{
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    padding: 64px;
    font-weight: 700;
  }
}