.exhibitcontent__header{
  display: flex;
  justify-content: center;
  height:128px;
  &__right{
    display: flex;
    padding:40px 0 0 44px;
    position: relative;
    &__red{
      @include font12_red;
      margin-right: 40px;
      &::before{
        content: "";
        display: inline-block;
        width: 250px;
        border-bottom: solid 2px #ea352d;
        position: absolute;
        left: 74px;
        bottom: 45%;
      }
      &::after{
        @include btn_red;
        margin-top: 5px;
        margin-left: 20px;
      }
    }
    &__4{
      @include font12_gray;
      margin-right: 40px;
      position: relative;
      &::before{
        content: "";
        display: inline-block;
        width: 220px;
        border-bottom: solid 2px #ccc;
        position: absolute;
        left: -106px;
        top: 32%;
      }
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 43px;
      }
    }
    &__5{
      @include font12_gray;
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 9px;
      }
    }
  }
}


.address_main{
  margin: 0 300px;
  &--title{
    background-color: #FFFFFF;
    padding: 32px;
    font-size: 22px;
    @include font__title;
    text-align:center;
  }
  &__content{
    text-align: left;
    background-color: #FFFFFF;
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__single{
      margin: 0 138px;
      &__top{
        display: flex;
        &--left{
          @include font14;
        }
        &--right{
          @include required;
        }

        &--right2{
          @include any;
        }
      }

      &--input{
        @include input;
        padding: 10px 16px 8px;
        margin-top: 8px;
        margin-bottom: 32px;
        &:focus{
          @include input_focus;
        }
      }

      &__pre{
        position: relative;
        &--input{
          @include input;
          padding: 10px 16px 8px;
          margin-top: 8px;
          margin-bottom: 32px;
          &:focus{
            @include input_focus;
          }
        }
        &--icon{
          position: absolute;
          top: 30%;
          right: 10px;
          color: #888;
          font-size: 20px;
          background-color: white;
          cursor: pointer;
        }
      }


      &--submit{
        @include submit;
        margin-top: 32px;
      }
    }
  }  
}