.exhibitcontent__header{
  display: flex;
  justify-content: center;
  height:128px;
  &__right{
    display: flex;
    padding:40px 0 0 44px;
    position: relative;
    &__1{
      @include font12_red;
      margin-right: 40px;
      &::after{
        @include btn_red;
        margin-top: 5px;
        margin-left: 20px;
      }
    }
    &__2{
      @include font12_gray;
      margin-right: 40px;
      &::before{
        content: "";
        display: inline-block;
        width: 420px;
        border-bottom: solid 2px #ccc;
        position: absolute;
        left: 74px;
        bottom: 45%;
      }
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 32px;
      }
    }
    &__3{
      @include font12_gray;
      margin-right: 40px;
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 43px;
      }
    }
    &__4{
      @include font12_gray;
      margin-right: 40px;
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 25px;
      }
    }
    &__5{
      @include font12_gray;
      &::after{
        @include btn_gray;
        margin-top: 5px;
        margin-left: 9px;
      }
    }
  }
}

.member_main{
  margin: 0 300px;
  &--title{
    @include font__title;
    background-color: #FFFFFF;
    padding: 32px;
    font-size: 22px;
    text-align:center;
  }
  &__content{
    text-align: left;
    background-color: #FFFFFF;
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__single{
      margin: 0 138px;
      &__top{
        display: flex;
        &--left{
          @include font14;
        }
        &--right{
          @include required;
        }
      }
      &--input{
        @include input;
        padding: 10px 16px 8px;
        margin-top: 8px;
        margin-bottom: 32px;
        &:focus{
          @include input_focus;
        }
      }
      &--input2{
        @include input;
        padding: 10px 16px 8px;
        margin-top: 8px;
        &:focus{
          @include input_focus;
        }
      }
      &--middle{
        font-size: 14px;
        font-weight: 400;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        color: #888888;
        margin-top: 8px;
      }
      &__bottom{
        display: flex;
        margin-top: 16px;
        &--icon{
          margin-right: 8px;
        }
      }
      &--verification{
        margin-top: 32px;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      }
      &--description{
        @include font14__weight400;
      }
      &__top2{
        display: flex;
        margin-top: 32px;
        &--left{
          @include font14;
        }
        &--right{
          @include required;
        }
        &__from{
          display: flex;
          &--1{
            @include input;
            padding: 10px 16px 8px;
            margin-top: 8px;
            margin-right: 8px;
            &:focus{
              @include input_focus;
            }
          }
          &--2{
            @include input;
            padding: 10px 16px 8px;
            margin-top: 8px;
            &:focus{
              @include input_focus;
            }
          }
        }
      }

      &__top3{
        display: flex;
        margin-top: 32px;
        margin-bottom: 5px;
        &--left{
          @include font14;
        }
        &--right{
          @include required;
        }
        &__from{
          display: flex;
          position: relative;
          &--1{
            @include input;
            cursor: pointer;
            padding: 0 16px;
            margin-right: 20px;
            &:focus{
              @include input_focus;
            }
          }
          &--2{
            @include input;
            cursor: pointer;
            padding: 0 16px;
            margin-right: 30px;
            &:focus{
              @include input_focus;
            }
          }
          &--down{
            position: absolute;
            left: 60px;
            top: 50%;
            z-index: 2;
            color: #888;
            font-size: 20px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-color: white;
            cursor: pointer;
          }
          &--down2{
            position: absolute;
            left: 160px;
            top: 50%;
            z-index: 2;
            color: #888;
            font-size: 20px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-color: white;
            cursor: pointer;
          }
          &--down3{
            position: absolute;
            left: 260px;
            top: 50%;
            z-index: 2;
            color: #888;
            font-size: 20px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-color: white;
            cursor: pointer;
          }
          &--time{
            margin:auto 2px;
            @include font14__weight400;
          }
        }
      }

      &--notes{
        margin-top: 8px;
        margin-bottom: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #888888;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      }

      &__term{
        @include font14__weight400;
        &--important{
          @include important;
          &:hover{
            @include important_hover;
          }
        }
        &--bottom{
          text-align: center;
        }
      }

      &--submit{
        width: 100%;
        display: block;
        line-height: 48px;
        background-color: #EA342D;
        font-size: 14px;
        font-weight: 400;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        color: #FFFFFF;
        text-align: center;
        border: 1px solid #ea352d;
        margin-top: 32px;
        cursor: pointer;
      }

      &__register{
        margin-top: 32px;
        text-align: right;
        &--left{
          @include important;
          &:hover{
            @include important_hover;
          }
        }
        &--right{
          font-size: 14px;
          color: #0099e8;
          cursor: pointer;
          &:hover{
            @include important_hover;
          }
        }
      }

      &__privacy{
        background-color: #F5F5F5;
        padding: 8px 16px;
        margin-top: 32px;
        &__p{
          font-size: 12px;
          font-weight: 400;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          color: #888888;
          &--important{
            font-size: 12px;
            font-weight: 400;
            font-family:"Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
            color: #0099e8;
            text-decoration: none;
            display: inline-block;
            margin-top: 4px;
            &:hover{
              @include important_hover;
            }
          }
        }
      }
    }
  }
}
