// 出品ページの出品中のscssです。
.u-products{
  .main{
    &__center{
      &--left1{
        color: #333333;
        background-color: #EEEEEE;
        width : calc(100% / 3);
      }
      &--center1{
        border-top: 2px solid #ea352d;
        background-color: #ffffff;
        color: #333333;
        width : calc(100% / 3);
      }
      &--right1{
        color: #333333;
        background-color: #EEEEEE;
        width : calc(100% / 3);
      }
    }
  }
}

.item_content{
  display: flex;
  padding: 16px;
  background-color: white;
  &__image{

  }
  &__right{
    &--name{
      font-size: 14px;
      font-weight: 400;
      color: black;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      margin-bottom: 8px;
    }
    &__good{
      display: flex;
      &--goods{
        font-size: 14px;
        color: #cccccc;
        font-weight: 400;
        margin-right: 6px;
      }
      &--comment{
        font-size: 14px;
        color: #cccccc;
        font-weight: 400;
        margin-right: 6px;
      }
      &--exhibition{
        font-size: 11px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 2px;
        background-color: #0099E8;
        padding: 2px 6px;
      }
    }
  }
}