// 出品ページの出品中のscssです。
.u-products{
  .pmain{
    width: 700px;
    background: #fafafa;
    font-size: 16px;
    &__top{
      line-height: 72px;
      padding: 0px 16px;
      font-size: 16px;font-weight: 700;
      color: #333333;
      font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
    }
    &__center{
      display: flex;
      text-align: center;
      &--left1{
        line-height: 72px;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        background-color: #ffffff;
        border-top: 2px solid #ea352d;
        width : calc(100% / 3);
        display: block;
      }
      &--center1{
        background-color: #EEEEEE;
        line-height: 72px;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        width : calc(100% / 3);
      }
      &--right1{
        line-height: 72px;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        background-color: #EEEEEE;
        width: calc(100% / 3);
      }
    }
  }
}

.item_content{
  display: flex;
  padding: 16px;
  background-color: white;
  cursor: pointer;
  &__image{
    margin-right: 8px;
  }
  &__right{
    &--name{
      font-size: 14px;
      font-weight: 400;
      color: black;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      margin-bottom: 8px;
    }
    &__good{
      display: flex;
      &--goods{
        font-size: 14px;
        color: #cccccc;
        font-weight: 400;
        margin-right: 6px;
      }
      &--comment{
        font-size: 14px;
        color: #cccccc;
        font-weight: 400;
        margin-right: 6px;
      }
      &--exhibition{
        font-size: 11px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 2px;
        background-color: #0099E8;
        padding: 2px 3px;
      }
    }
  }
  &__icon{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
    margin-left: 460px;
  }
}

// transaction,soldoutのfootと共通
.product_foot{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  cursor: pointer;
  &__left{
    padding: 10px 15px;
    display: block;
    color: #333;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px #D3D3D3 solid;
    &--text{
      font-size: 20px;
      color: #333;
      font-weight: 400;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    }
  }
  &__right{
    padding: 10px 15px;
    display: block;
    color: #333;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px #D3D3D3 solid;
    &--icon{
      font-size: 20px;
      color: #333;
      font-weight: 400;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    }
  }
}

.pmain__bottom{
  background-color: #FFFFFF;
  text-align: center;
  &--img{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &--text{
    font-size: 16px;
    font-weight: 600;
    color: #cccccc;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    padding-bottom: 50px;
  }
}