// 出品ページの売却後ののscssです。
.u-products{
  .main{
    &__center{
      &--left2{
        color: #333333;
        background-color: #EEEEEE;
        width : calc(100% / 3);
      }
      &--center2{
        color: #333333;
        background-color: #EEEEEE;
        width : calc(100% / 3);
      }
      &--right2{
        border-top: 2px solid #ea352d;
        background-color: #ffffff;
        color: #333333;
        width : calc(100% / 3);
      }
    }
  }
}