.s-main {
  background-color: #F5F5F5;
  .s-contents {
    display: flex;
    padding: 40px 0;
    margin: 0px auto;
    width: 1020px;
    .s-sidebar {
      width: 280px;
      margin: 0 40px 0 0;
      &__change {
        background-color: white;
        height: 48px;
        width: 100%;
        margin: 0 0 40px 0;
        position: relative;
        &__order{
          background-color: white;
          font-weight: 400;
          font-size: 16px;
          height: 100%;
          width: 100%;
          padding: 0 16px;
          border: 1px solid #ccc;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        &__icon{
          font-size: 25px;
          color: #bbb;
          position: absolute;
          right: 16px;
          top: 12px;

        }
      }
      &__details {
        padding: 16px;
        background-color: white;
        &__title{
          font-weight: 700;
          font-size: 16px;
          color: #333;
          font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
        }
        &__label{
          margin-top: 24px;
          font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
          font-size: 14px;
          font-weight: 600;
          position: relative;
          width: 100%;
          height: 100%;
          &__checkbox{
            margin: 16px 0 0;
            font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
            font-weight: 200;
            font-size: 14px;
            display: block;
            display: flex;
            justify-content: space-between;
            &__label{
              width: 124px;
              &__box{
                width: 20px;
                height: 20px;
                border-radius: 2px;
                background: #fff;
                border: 1px solid #ccc;
                font-size: 30px;
                line-height: 17px;
                text-align: center;
                color: #fff;
                vertical-align: middle;
              }
            }
          }

          &__icon1{
            color: #888888;
            font-size: 16px;
          }
          &__text{
            font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
            font-weight: 200;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__icon2{
            font-size: 25px;
            color: #bbb;
            position: absolute;
            right: 16px;
            top: 35px;
          }
          select{
            font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
            font-weight: 200;
            font-size: 16px;
            z-index: 2;
            height: 48px;
            width: 100%;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          &__text1{
            display: flex;
            margin: 8px 0 0;
            line-height: 48px;
            justify-content: space-between;
            &__min{
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 45%;
              font-weight: 300;
            }
            &__max{
              height: 48px;
              width: 45%;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              font-weight: 300;
            }
          }
        }
        &__button{
          display: flex;
          justify-content: space-between;
          height: 90px;
          padding: 40px 0 0;
          &__clear{
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 45%;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            font-size: 14px;
            font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
          }
          &__complete{
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 45%;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            font-size: 14px;
            font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
          }
        }
      }
    }
    .s-content{
      width: 700px;
      .result{
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        display: flex;
        margin: 0 0 8px;
        &__search{
          font-size: 22px;
          line-height: 31px;
        }
        &__text{
          line-height: 31px;
          font-size: 18px;
          margin: 0 0 0 4px;
        }
      }
      .number{
        margin: 16px 0;
        font-size: 14px;
        color: #888;
        font-weight: 400;

      }
      .products{

      }
    }
  }
  .s-footer {
    border-top: solid 0.2px #ccc;
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
    line-height: 17px;
    color: #333;
    &__body{
      width: 1020px;
      margin: 0 auto;
      padding: 16px 0;
      &__list{
        color: #333;
        &:hover{
          text-decoration: underline;
        }
      }
      &__list-icon{
        color: #888;
        margin: 0 10px;
      }
    }
  }
}