.all_show{
  background-color: #f5f5f5;
}

.box__container{
  padding: 24px 40px 40px;
  width: 700px;
  margin: 40px auto 0;
  background: #fff;
  display: block;
  &__main{
    margin-top: 16px;
    display: flex;
    &__photo{
      float: left;
      width: 300px;
      &__all{
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        position: relative;
        line-height: 0;
        &__big{
          position: relative;
        }
        &__small{
          margin: 0;
          padding: 0;
          line-height: 0;
          box-sizing: border-box;
          display: flex;
          &__list{
            position: static;
            display: flex;
            flex-wrap: wrap;
            &__image{
              display: block;
              margin-right: 0;
              opacity: 0.5;
              &:hover{
                opacity: 1.0;
              }
            }
          }
        }
      }
    }
    &__table{
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      &__body{
        font-size: 14px;
        &__category{
          &__child{
            display: block;
            color: #0099e8;
            &__ca{
              @include important;
              &:hover{
                @include important_hover;
              }
            }
          }      
        }
        &__bland{
          @include important;
          &:hover{
            @include important_hover;
          }
        }
        &__data{
          @include important;
          &:hover{
            @include important_hover;
          }
        }
        &__area{
          @include important;
          &:hover{
            @include important_hover;
          }
        }
        th{
          width: 39%;
          text-align: left;
          font-weight: 400;
          background-color: #fafafa;
        }
        td{
          width: 61%;
          background-color: #fff;
          padding: 8px;
          border: 1px solid #f5f5f5;
        }
        
        &__list{
          display: flex;
          &__face{
            padding-left: 18px;
          }
        }
      }
    }
  }
  &__price{
    text-align: center;
    &__bold{
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    &__tax{
      font-size: 10px;
    }
    &__fee{
      font-size: 16px;
      display: inline-block;
    }
    &__btn{
      display: block;
      margin-top: 16px;
      background: #ea352d;
      font-size: 24px;line-height: 60px;
      font-weight: 600;
      text-align: center;
      color: white;
    }
  }
  &__explanation{
    padding: 32px 0 0;
    line-height: 1.5;
    &__content{
      text-align: left;
    }
  }
  &__good{
    display: flex;
    justify-content: space-between;
    &__left{
      display: block;
      height: 30px;
      border-radius: 40px;
      padding: 8px 16px;
      &__iine{
        color: #333;
        border: 1px solid #f5f5f5;
        background-color: #f5f5f5;
        border-radius: 40px;
        margin-right: 10px;
      } 
      &__bad{
        color: #333;
        border: 1px solid #f5f5f5;
        background-color: #f5f5f5;
        border-radius: 40px;
      }     
    }
    &__right{
      display: block;
      height: 30px;
      margin: 8px 0 0; 
      color: #0099e8;
      &__safe{
        color: #0099e8;
        &__text{
          color: #0099e8;
        }
      }
    }
  }
}

.box__comment{
  width: 700px;
  margin: 8px auto;
  &__content{
    &__main{
      padding: 24px;
      background-color: #fff;
      &__form{
        p{
          padding: 8px;
          font-size: 14px;
          background-color: #fff6de;
        }
        &__text{
          margin: 8px 0 0;
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          font-size: 6px;
        }
        &__btn{
          width: 100%;
          margin: 8px 0 0;
          text-align: center;
          background-color: #aaa;
          display: block;
          font-size: 14px;
          line-height: 48px;
          color: white;
        }
      }
    }
  }
}

.list__scroll{
  margin: 24px auto 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
  &__prev{
    &__left{
      @include important;
      &:hover{
        @include important_hover;
      }
    }
  }
  &__next{
    &__right{
      @include important;
      &:hover{
        @include important_hover;
      }
    }
  }
}
.social__media{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background-color: #fff;
  &__text{
    text-align: center;
  }
  &__box{
    margin: 16px 0 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      a{
        display: block;
        .fab.fa-facebook-square{
          display: block;
          font-size: 44px;
          color: #0099e8;
          text-decoration: none;
        }
        .fab.fa-twitter-square{
          display: block;
          font-size: 44px;
          text-decoration: none;
          color: #5d9dc9;
        }
        .fab.fa-pinterest-square{
          display: block;
          font-size: 44px;
          text-decoration: none;
          color: red;
        }
      }
    }   
  }
}
.item__profile{
  width: 700px;
  margin: 0 auto;
  &__user{
    &__name{
      font-size: 22px;
      margin: 24px 0 8px;
      line-height: 1.4;
      &__link{
        @include important;
        font-size: 24px;
        &:hover{
          @include important_hover;
        }
      }
    }
    &__list{
      width: auto;
      display: flex;
      flex-wrap: wrap;
      &__box{
        width: 220px;
        margin-right: 10px;
        margin-bottom: 20px;
        &__last{
          width: 220px;
          margin-bottom: 20px;

        }
        &__link{
          display: block;
          color: #333;
          position: relative;
          &__picture{
            width: 220px;
            height: 220px;
            padding: 0 0 100%;
            position: relative;
            &__inside{
              width: 100%;
              z-index: 1;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
            }
          }
          &__body{
            background-color: #fff;
            padding: 16px;
            &__name{
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              white-space: normal;
              word-break: break-word;
            }
            &__price{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 8px 0 0;
              &__left{
                font-size: 17px;
              }
              &__right{
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
  &__bland{
    &__name{
      font-size: 22px;
      margin: 24px 0 8px;
      &__link{
        @include important;
        font-size: 24px;
        &:hover{
          @include important_hover;
        }
      }
    }
  }
}
.nav__bar{
  background-color: #f5f5f5;
  position: relative;
  border-top: 1px solid #eee;
  &__list{
    color: black;
    &:hover{
      opacity: 50%;
      border-bottom: black solid 1px;
    }
  }
  ul{
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    li{
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      padding-left: 3px;

    }
    i.fas.fa-chevron-right{
      margin: 0.8px;
      font-size: 9px;
      color: #888;
    }
  }
}
.item_name{
  text-align: center;
  font-size: 24px;
  word-wrap: break-word;
  line-height: 1.4;
}

.box__container__current_user{
  padding: 24px 40px 40px;
  width: 700px;
  margin: 40px auto 30px;
  background: #fff;
  display: block;
  text-align: center;
  &--edit{
    @include submit;
  }
  &--p{
    margin:10px 0px;
  }
  &--stop{
    @include delete;
    margin-bottom: 15px;
  }
  &--delete{
    @include delete;
  }
}
.box__container__current_buyer{
  padding: 1px 40px 60px;
  margin-bottom: 10px;
  width: 700px;
  margin: 0 auto;
  background: #fff;
  display: block;
  text-align: center;
}



