//メルカリ＜マイページ＜本人情報の登録のscss

.chapter-container {
  background-color: #fff;
  &__head {
    @include font14_u3;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    padding: 8px 24px;
  }
  &__form {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    &__titles {
      @include font14__weight400;
      &__title1 {
        margin: 8px 0 0;
      }
    } 
    &__right {
      text-align: right;
      color: #0099e8;
      margin: 8px 0 0; 
      font-size: 14px;
      cursor: pointer;
    }
    &__right:hover{
      text-decoration: underline;
      opacity: 0.7;
    }
    &__group {
      margin: 40px 0 0;
      text-align: left;
      font-size: 14px;
      &__question {
        font-weight: 600;
        line-height: 14px;
        display:inline-block;
        vertical-align: middle;
      }
      &__any {
        display: inline;
        vertical-align: middle;
        background-color: #ccc;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        font-size: 12px;
        border-radius: 2px;
        color: #fff;
        vertical-align: top;
      }
      &__wrap {
        margin: 8px 0 0;
        position: relative;
        &__select {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
        }
        &__select:focus {
          border: 1px solid #0299e8; 
          z-index: 10;
          outline: 0;
        }
        &__icon {
          position: absolute;
          right: 16px;
          top: 35%;
          z-index: 2;
          color: #888;
          font-size: 20px;
        }
      }
      &__register {
        margin: 8px 0 0;
        line-height: 21px;
      }
      &__answer {
        @include font16_u3;
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-sizing: border-box;
      }
      &__answer:focus {
        border: 1px solid #0299e8; 
        z-index: 10;
        outline: 0;
      }
    }
    &__button {
      margin: 40px 0 0 0;
      background: #ea352d;
      color: #fff;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }
    &__button:focus {
      outline: 0;
    }
    &__rights {
      text-align: right;
      color: #0099e8;
      margin: 40px 0 0; 
      font-size: 14px;
      cursor: pointer;
    }
    &__rights:hover{
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}
