// ユーザマイページの固定部分（ヘッダーとサイドバー）のscss
.u-main {
  .u-header{
    @include font14_u1;
    color: #333333;
    border-top: solid 1px #eee;
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 16px 330px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    &__list{
      color: #333333;
      font-size: 14px;
    }
  }
  a{
    color: #000;
  }
  .u-container{
    background-color: #F5F5F5;
    .container-center{
      margin: 0 auto;
      padding: 40px 0px;
      width: 1020px;
      display: flex;
      .side{
        width: 280px;
        margin: 0 40px 0 0;
        font-size: 14px;
        line-height: 14px;
        .mypage-ul{
          background-color: #ffffff;
          &__list{
            @include font14_u2;
            display: block;
            position: relative;
            border-top: solid 2px #F5F5F5;
            padding: 16px;
            &:hover{
              background-color: #eee;
            }
            &__icon{
              @include u-icon;
              &:hover{
                @include icon-hover;
              }
            }
          }
        }
        .merupay-heading{
          @include u-heading;
        }
        .merupay-ul{
          background-color: #ffffff;
          &__list{
            @include font14_u2;
            position: relative;
            display: block;
            border-top: solid 2px #F5F5F5; 
            padding: 16px; 
            &:hover{
              background-color: #eee;
            }
            &__icon{
              @include u-icon;
              &:hover{
                @include icon-hover;
              }
            }
          }
        }
        .setting-heading{
          @include u-heading;
        }
        .setting-ul{
          background-color:#ffffff;
          &__list{
            @include font14_u2;
            position: relative;
            display: block;
            border-top: solid 2px #F5F5F5;
            padding: 16px;
            &:hover{
              background-color: #eee;
            }
            &__icon{
              @include u-icon;
              &:hover{
                @include icon-hover;
              }
            }
          }
        }
      }
    }
  }
}