.mheader
  .mheader__main
    .mheader__main__upper
      .mheader__main__upper__logo
        .mheader__main__upper__logo__image
          = link_to image_tag("http://www.w3.org/2000/svg"),size:"134x36"
      = form_with(url: root_path, local: true,method: :get, class: "mheader__main__upper__search") do |f|
        = f.text_field :keyword, placeholder: " 何かお探しですか？", class: "mheader__main__upper__search__blank"
        %button.mheader__main__upper__search__button
          %i.fas.fa-search
    .mheader__main__bottom
      .mheader__main__bottom__left
        .mheader__main__bottom__left__category
          %a{ href: "#", class: "mheader__main__bottom__left__category__inside"}
            %i.fas.fa-list
              .icon-text__left カテゴリーから探す
          
        %ul.mheader__main__bottom__left__category__submenu
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}レディース
            %ul.mheader__main__bottom__left__category__submenu__child__ladies
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}トップス
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__tops
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}Tシャツ/カットソー(半袖/袖なし)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}Tシャツ/カットソー(七部/長袖)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}シャツ/ブラウス(半袖/袖なし)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}シャツ/ブラウス(七部/長袖)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}ポロシャツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}キャミソール
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}タンクトップ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}ホルターネック
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}ニット/セーター
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}チュニック
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}カーディガン/ボレロ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}アンサンブル
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}ベスト/ジレ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"}パーカー     
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}ジャケット/アウター
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__jacket
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}テーラードジャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ノーカラージャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}Gジャン/デニムジャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}レザージャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ダウンジャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ライダースジャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ミリタリージャケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ダウンベスト
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ジャンパー/ブルゾン
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ポンチョ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ロングコート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}トレンチコート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ダッフルコート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"}ピーコート
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}パンツ
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__pants
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}デニム/ジーンズ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}ショートパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}カジュアルパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}ハーフパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}チノパン
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}ワークパンツ/カーゴパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}クロップドパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}サロペット/オーバーオール
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}オールインワン
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}サルエルパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}ガウチョパンツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"}その他

              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}スカート
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__skart
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"}ミニスカート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"}膝丈スカート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"}ロングスカート
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"}キュロット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"}その他
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}ワンピース
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"}ミニワンピース
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"}膝丈ワンピース
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"}ロングワンピース
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"}その他
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}靴
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__shoes
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}ハイヒール/パンプス
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}ブーツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}サンダル
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}スニーカー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}ミュール
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}モカシン
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}ローファー/革靴
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}フラットシューズ/バレエシューズ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}長靴/レインシューズ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"}その他
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}ルームウェア/パジャマ
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__room
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__room__child"}パジャマ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__room__child"}ルームウェア
                  
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}レッグウェア
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__leg
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"}ソックス
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"}スパッツ/レギンス
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"}ストッキング/タイツ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"}レッグウォーマー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"}その他
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}帽子
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__cap
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}ニットキャップ/ビーニー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}ハット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}ハンチング/ベレー帽
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}キャップ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}キャスケット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}麦わら帽子
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"}その他
                  
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}バッグ
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__bag
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ハンドバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}トートバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}エコバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}リュック/バックパック
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ボストンバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}スポーツバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ショルダーバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}クラッチバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ポーチ/バニティ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ボディバッグ/ウェストバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}マザーズバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}メッセンジャーバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}ビジネスバッグ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"}旅行用バッグ/キャリーバッグ
                  
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}アクセサリー
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__accessory
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}ネックレス
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}ブレスレット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}バングル/リストバンド
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}リング
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}ピアス(片耳用)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}ピアス(両耳用)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}イヤリング
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}アンクレット
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}ブローチ/コサージュ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}チャーム
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"}その他
                  
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}ヘアアクセサリー
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__hair
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"}ヘアゴム/シュシュ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"}ヘアバンド/カチューシャ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"}ヘアピン
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"}その他

              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}小物
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__goods
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}長財布
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}折り財布
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}コインケース/小銭入れ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}名刺入れ/定期入れ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}キーケース
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}キーホルダー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}手袋/アームカバー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}ハンカチ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}ベルト
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}マフラー/ショール
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}ストール/スヌード
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}バンダナ/スカーフ
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}ネックウォーマー
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}サスペンダー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child"}時計
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__watch
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"}腕時計(アナログ)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}腕時計(デジタル)
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}ラバーベルト
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}レザーベルト
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}金属ベルト
                  %li
                    %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}メンズ
            %ul.mheader__main__bottom__left__category__submenu__child__mens
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}トップス
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}ジャケット/アウター
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}パンツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}靴
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}バッグ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}スーツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}帽子
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}アクセサリー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}小物
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}時計
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}水着
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}レッグウェア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}アンダーウェア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__mens__child"}その他
            
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}ベビー•キッズ
            %ul.mheader__main__bottom__left__category__submenu__child__baby
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}ベビー服(女の子用)~95cm
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}ベビー服(男の子用)~95cm
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}ベビー服(男女兼用)~95cm
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}キッズ服(女の子用)100cm~
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}キッズ服(男の子用)100cm~
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}キッズ服(男女兼用)100cm~
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}キッズ靴
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}子ども用ファッション小物
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}おむつ/トイレ/バス
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}外出/移動用品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}授乳/食事
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}ベビー家具/寝具/室内用品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}おもちゃ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__baby__child"}行事／記念品

              
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}インテリア•住まい•小物
            %ul.mheader__main__bottom__left__category__submenu__child__interia
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}キッチン/食器
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}ベッド/マットレス
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}ソファ/ソファベッド
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}椅子/チェア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}机/テーブル
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}収納家具
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}ラグ/カーペット/マット
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}カーテン/ブラインド
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}ライト/照明
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}寝具
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}インテリア小物
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}季節/年中行事
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__interia__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}本•音楽•ゲーム
            %ul.mheader__main__bottom__left__category__submenu__child__book
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}本
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}漫画
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}雑誌
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}CD
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}DVD/ブルーレイ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}レコード
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__book__child"}テレビゲーム
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}おもちゃ•ホビー•グッズ
            %ul.mheader__main__bottom__left__category__submenu__child__toy
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}おもちゃ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}タレントグッズ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}コミック/アニメグッズ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}トレーディングカード
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}フィギュア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}楽器/器材
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}コレクション
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}ミリタリー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}美術品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}アート用品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__toy__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}コスメ•香水•美容
            %ul.mheader__main__bottom__left__category__submenu__child__cos
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}ベースメイク
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}メイクアップ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}ネイルケア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}香水
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}スキンケア/基礎化粧品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}ヘアケア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}ボディケア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}オーラルケア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}リラクゼーション
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}ダイエット
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__cos__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}家電•スマホ•カメラ
            %ul.mheader__main__bottom__left__category__submenu__child__appliance
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}スマートフォン/携帯電話
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}スマホアクセサリー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}PC/タブレット
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}カメラ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}テレビ/映像機器
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}オーディオ機器
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}美容/健康
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}冷暖房/空調
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}生活家電
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__appliance__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}スポーツ•レジャー
            %ul.mheader__main__bottom__left__category__submenu__child__sports
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}ゴルフ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}フィッシング
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}自転車
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}トレーニング/エクササイズ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}野球
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}サッカー/フットサル
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}テニス
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}スノーボード
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}スキー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}その他スポーツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}アウトドア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__sports__child"}その他       

          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}ハンドメイド
            %ul.mheader__main__bottom__left__category__submenu__child__handmade
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}アクセサリー(女性用)
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}ファッション小物
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}アクセサリー/時計
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}日用品/インテリア
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}趣味/おもちゃ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}キッズ/ベビー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}素材/材料
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}二次創作物
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__handmade__child"}その他
              
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}チケット
            %ul.mheader__main__bottom__left__category__submenu__child__ticket
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}音楽
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}スポーツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}演劇/芸能
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}イベント
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}映画
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}施設利用券
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}優待券/割引券
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__ticket__child"}その他
            
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}自転車•オートバイ
            %ul.mheader__main__bottom__left__category__submenu__child__bike
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}自転車本体
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}自転車タイヤ/ホイール
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}自転車パーツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}自転車アクセサリー
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}オートバイ車体
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}オートバイパーツ
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__bike__child"}オートバイアクセサリー
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}その他
            %ul.mheader__main__bottom__left__category__submenu__child__other
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}まとめ売り
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}ペット売り
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}食品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}飲料/酒
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}日用品/生活雑貨/旅行
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}アンティーク/コレクション
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}文房具/事務用品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}事務/店舗用品
              %li
                %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child__other__child"}その他
          %li
            %a{href: "#",class:"mheader__main__bottom__left__category__submenu__child"}カテゴリ一覧
                    


        .mheader__main__bottom__left__bland
          %a{ href: "#", class: "mheader__main__bottom__left__bland__inside"}
            %i.fas.fa-tags
              .icon-text__left ブランドから探す
        %ul.mheader__main__bottom__left__bland__submenu
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}シャネル  
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}ナイキ
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}ルイヴィトン
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}シュプリーム
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}アディダス
          %li
            %a{href: "#",class:"mheader__main__bottom__left__bland__submenu__child"}ブランド一覧
             
                
      %ul.mheader__main__bottom__right
        %li.mheader__main__bottom__right__list
          %a{ href: "#", class: "mheader__main__bottom__right__list__good"}
            %i.far.fa-heart
              .icon-text__right いいね一覧
        %li.mheader__main__bottom__right__list
          %a{ href: "#", class: "mheader__main__bottom__right__list__notice"}
            %i.far.fa-bell
              .icon-text__right お知らせ
        %li.mheader__main__bottom__right__list
          %a{ href: "#", class: "mheader__main__bottom__right__list__todo"}
            %i.fas.fa-check
              .icon-text__right やることリスト
        %li.mheader__main__bottom__right__list
          %a{ href: "#", class: "mheader__main__bottom__right__list__person"}
            %i.far.fa-grin-stars
              .icon-text__right マイページ