%li.date1
  .date1__size
    =link_to product_path(product.id),class: "date1__size__link" do
      %figure.date1__size__link__figure
        %figcaption.date1__size__link__figure__figcaption
          = product.name
        .date1__size__link__figure__information
          %label.date1__size__link__figure__information__label
            ¥
            = product.price
          - if product.buyer_id 
            = image_tag product.product_images[0].image.to_s, class: "date1__size__link__figure__information__image" 
            .date1__size__link__figure__information__sold
              %span.date1__size__link__figure__information__sold__text SOLD
          - else
            = image_tag product.product_images[0].image.to_s, class: "date1__size__link__figure__information__image" 
            