.exhibitcontent_down__terms
  = link_to "プライバシーポリシー","#",class: 'exhibitcontent_down__terms--left'
  = link_to "Fmarket利用規約","#",class: 'exhibitcontent_down__terms--center'
  = link_to "特定商取引に関する表記","#",class: 'exhibitcontent_down__terms--right'
.exhibitcontent_down__middle
  = link_to image_tag('logo_gray.svg',size:"80x65",class:"exhibitcontent_down__middle--image"), '#'
.exhibitcontent_down__bottom
  @Fmarket,lnc.