.box__container__current_buyer
  = link_to "売り切れました", "#",class:"box__container__price__btn1"
  .box__container__explanation
    %p.box__container__explanation__content
      =@product.description
  .box__container__good
    .box__container__good__left
      = link_to root_path, class:"box__container__good__left__iine" do
        %i.far.fa-heart
        %span いいね
        %span 0
      = link_to root_path, class:"box__container__good__left__bad" do
        %i.far.fa-flag
        %span 不適切な商品の報告
    .box__container__good__right
      = link_to root_path do
        %i.fas.fa-lock{class:"box__container__good__right__safe"}
        %span.box__container__good__right__safe__text あんしん・あんぜんへの取り組み